<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/game-css")

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()


    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/game")


    @*render page scripts*@
    @RenderSection("scripts", false)

</body>
</html>
